[Desktop Entry]
Encoding=UTF-8
Name=Thalercoin
Comment=Thalercoin P2P Cryptocurrency
Comment[fr]=Thalercoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Thalercoin, eşten eşe kriptografik sanal para birimi
Exec=thalercoin-qt %u
Terminal=false
Type=Application
Icon=thalercoin128
MimeType=x-scheme-handler/thalercoin;
Categories=Office;Finance;
